invoice-automation-pipeline.json
{
  "name": "Invoice Automation Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "7cad8d45-86db-4949-81fc-f73eab81c0df",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RPo9zpF7ZYjluwaR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1500,\n  \"system\": \"You are an invoice data extraction specialist. Respond only with a single JSON object — no preamble, no markdown. If a field cannot be found, set it to null. Never invent values.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n     \"data\": \"{{ $json.pdf_base64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all invoice data and return this exact JSON: {\\\"vendor_name\\\": \\\"\\\", \\\"invoice_number\\\": \\\"\\\", \\\"invoice_date\\\": \\\"YYYY-MM-DD\\\", \\\"due_date\\\": \\\"YYYY-MM-DD\\\", \\\"currency\\\": \\\"\\\", \\\"subtotal\\\": 0.00, \\\"tax\\\": 0.00, \\\"total\\\": 0.00, \\\"confidence\\\": 0.0, \\\"review_reason\\\": null}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        0
      ],
      "id": "4cb45285-e757-4f71-9272-d828ed4da90f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'attachment_0');\nconst base64String = binaryData.toString('base64');\n\nreturn [{\n  json: {\n    pdf_base64: base64String,\n    filename: $input.first().binary.attachment_0.fileName,\n    mimeType: $input.first().binary.attachment_0.mimeType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "d9519fd7-88e5-4c66-b785-bf707eca04de",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const responseText = $input.first().json.content[0].text;\nconst cleanedText = responseText.replace(/```json|```/g, '').trim();\nconst invoiceData = JSON.parse(cleanedText);\n\nreturn [{\n  json: {\n    vendor_name: invoiceData.vendor_name,\n    invoice_number: invoiceData.invoice_number,\n    invoice_date: invoiceData.invoice_date,\n    due_date: invoiceData.due_date,\n    currency: invoiceData.currency,\n    subtotal: invoiceData.subtotal,\n    tax: invoiceData.tax,\n    total: invoiceData.total,\n    confidence: invoiceData.confidence,\n    review_reason: invoiceData.review_reason\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "9e28023f-b031-43f0-8a2a-12e1508d8449",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f1515d5-4db1-41b8-b78f-48bdad771719",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.85,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        0
      ],
      "id": "f9e96fd0-a7f8-438f-8e0a-2e841c0cbe03",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk",
          "mode": "list",
          "cachedResultName": "Invoice Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Vendor": "={{ $json.vendor_name }}",
            "Invoice #": "={{ $json.invoice_number }}",
            "Invoice Date": "={{ $json.invoice_date }}",
            "Due Date": "={{ $json.due_date }}",
            "Currency": "={{ $json.currency }}",
            "Subtotal": "={{ $json.subtotal }}",
            "Tax": "={{ $json.tax }}",
            "Total": "={{ $json.total }}",
            "Confidence": "={{ $json.confidence }}",
            "Received": "={{ $now }}"
          },
          "matchingColumns": [
            "Vendor"
          ],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice #",
              "displayName": "Invoice #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -96
      ],
      "id": "26966349-f55c-47c3-aacb-c5077cf90bd7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U7ESN195yizZzYxU",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk",
          "mode": "list",
          "cachedResultName": "Invoice Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 391687223,
          "mode": "list",
          "cachedResultName": "Need Review",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit#gid=391687223"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Review Reason": "={{ $json.review_reason }}",
            "Vendor": "={{ $json.vendor_name }}",
            "Invoice #": "={{ $json.invoice_number }}",
            "Invoice Date": "={{ $json.invoice_date }}",
            "Due Date": "={{ $json.due_date }}",
            "Currency": "={{ $json.currency }}",
            "Subtotal": "={{ $json.subtotal }}",
            "Tax": "={{ $json.tax }}",
            "Total": "={{ $json.total }}",
            "Confidence": "={{ $json.confidence }}",
            "Received": "={{ $now }}"
          },
          "matchingColumns": [
            "Vendor"
          ],
          "schema": [
            {
              "id": "Vendor",
              "displayName": "Vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Invoice #",
              "displayName": "Invoice #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax",
              "displayName": "Tax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Received",
              "displayName": "Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Review Reason",
              "displayName": "Review Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        96
      ],
      "id": "11671012-0e16-4420-a739-17deb22ee82b",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U7ESN195yizZzYxU",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "152af282-0bad-4d08-ab7e-71be0ed09059",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d70a064ae005edc9167d2757368411976b36a49de5517f9ed58e5ffcb509ec71"
  },
  "id": "Dq57azRm3iMHofnN",
  "tags": []
}