weekly-digest.json
{
  "name": "Weekly digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "04bbdb14-b29c-4967-a250-3a1780f6f3e4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk",
          "mode": "list",
          "cachedResultName": "Invoice Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/148Ma8in-u6byP6UQJw2qOpgMxfCBMRiwAEQp99xX_Fk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Received",
              "lookupValue": "={{ $now.minus(7, 'days') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "e5a62d02-4361-4320-a804-ff0a14dfd37d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U7ESN195yizZzYxU",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst vendorTotals = {};\nlet grandTotal = 0;\nlet overdueCount = 0;\nconst today = new Date();\n\nfor (const row of rows) {\n  const vendor = row.json['Vendor'] || 'Unknown';\n  const total = parseFloat(row.json['Total']) || 0;\n  const dueDate = new Date(row.json['Due Date']);\n\n  if (!vendorTotals[vendor]) {\n    vendorTotals[vendor] = { total: 0, count: 0, overdue: 0 };\n  }\n\n  vendorTotals[vendor].total += total;\n  vendorTotals[vendor].count += 1;\n  grandTotal += total;\n\n  if (dueDate < today) {\n    vendorTotals[vendor].overdue += 1;\n    overdueCount += 1;\n  }\n}\n\nlet tableRows = '';\nfor (const [vendor, data] of Object.entries(vendorTotals)) {\n  const overdueFlag = data.overdue > 0 ? '⚠️ ' + data.overdue + ' overdue' : '✅ Clear';\n  tableRows += `\n    <tr>\n      <td style=\"padding:8px;border:1px solid #ddd\">${vendor}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${data.count}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">$${data.total.toFixed(2)}</td>\n      <td style=\"padding:8px;border:1px solid #ddd\">${overdueFlag}</td>\n    </tr>`;\n}\n\nconst html = `\n<h2>Weekly Invoice Summary</h2>\n<p>Period: last 7 days | Total invoices: ${rows.length} | Grand total: $${grandTotal.toFixed(2)}</p>\n<table style=\"border-collapse:collapse;width:100%\">\n  <tr style=\"background:#f2f2f2\">\n    <th style=\"padding:8px;border:1px solid #ddd\">Vendor</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Invoices</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Total</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Status</th>\n  </tr>\n  ${tableRows}\n</table>\n<p style=\"color:gray;font-size:12px\">Generated automatically by Invoice Automation Pipeline</p>\n`;\n\nreturn [{ json: { html, grandTotal, totalInvoices: rows.length, overdueCount } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "5ad9131b-4dea-4b52-b4bc-e4bc88b65647",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "tanuimilena@mail.com",
        "subject": "=Weekly Invoice Summary — {{ $now.format('DD MMM YYYY') }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "25adfc94-920a-4e1b-98e1-314e6ee3c2dc",
      "name": "Send a message",
      "webhookId": "40223dca-f359-4499-b6d7-c41d010f2c21",
      "credentials": {
        "gmailOAuth2": {
          "id": "RPo9zpF7ZYjluwaR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f19f461a-3241-4071-ab45-376d302bb4a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d70a064ae005edc9167d2757368411976b36a49de5517f9ed58e5ffcb509ec71"
  },
  "id": "2lG5Tznnp4H3RyEp",
  "tags": []
}